version: '3.5'
services:
  terminalserver:
    #build: ./
    image: ghcr.io/lizenzfass78851/ubuntu-xrdp:latest
    container_name: uxrdp
    hostname: terminalserver
    restart: always
    shm_size: 1g
    environment:
       IDLETIME: 11
       TZ: "Etc/UTC"
    ports:
      - "3389:3389"
      - "2222:22"
    volumes:
      - ssh:/etc/ssh/
      - home:/home/
#      - ./users.list:/etc/users.list

volumes:
  ssh:
  home:
