name: Build as Matrix and Publish Docker Image

on:
  schedule:
    - cron: '20 14 * * 2'
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  IMAGE_TAG: ${{ github.sha }}
  
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build_amd64_1:
    strategy:
      fail-fast: false
      matrix:
        include:
          - dockerfile: Dockerfile.20.04.ubuntu
            context: src
            target: 20.04
            latest: false
          - dockerfile: Dockerfile.22.04.ubuntu
            context: src
            target: 22.04
            latest: false
          - dockerfile: Dockerfile.24.04.ubuntu
            context: src
            target: 24.04
            latest: true
          - dockerfile: Dockerfile.26.04.ubuntu
            context: src
            target: 26.04
            latest: false
          - dockerfile: Dockerfile.light.rolling.kali
            context: src
            target: kali-light
            latest: false
    outputs:
      kali-light-success: ${{ steps.build.outcome == 'success' && matrix.target == 'kali-light' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - &checkout
        name: Checkout Dockerfile
        id: checkout
        uses: actions/checkout@v6
      
      - &qemu
        name: Setup QEMU
        id: qemu
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:latest
          platforms: all

      - &buildx
        name: Setup Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - &ghcr
        name: Login to GitHub Container Registry
        id: ghcr
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - &meta
        name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          flavor: |
            latest=${{ matrix.latest }}
          tags: ${{ matrix.target }}

      - &build
        name: Build and push main Docker image
        id: build
        uses: docker/build-push-action@v6
        with:
          build-args: GH_TOKEN=${{ github.token }}
          context: ${{ matrix.context }}
          file: ${{ matrix.context }}/${{ matrix.dockerfile }}
          platforms: linux/amd64
          cache-to: type=gha,mode=max,ignore-error=true
          cache-from: type=gha
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  build_amd64_2:
    needs: build_amd64_1
    if: ${{ needs.build_amd64_1.outputs.kali-light-success }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - dockerfile: Dockerfile.default.rolling.kali
            context: src
            target: kali-default
            latest: false
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: mathio/gha-cleanup@v1
        with:
          remove-browsers: true
          verbose: true

      - *checkout
      - *qemu
      - *buildx
      - *ghcr
      - *meta
      - *build